.carousel-wrapper {
    position: relative;
    height: 200px;
}

.carousel-item {
    width: 300px;
    height: 150px;
    position: absolute;
}

.item0 {
    left: 5%;
    z-index: 8;
    top: 8%;
}

.item1 {
    left: 15%;
    height: 175px;
    z-index: 9;
    top: 5%;
}

.item2 {
    width: 400px;
    height: 250px;
    left: 30%;
    top:0;
    z-index: 10;
}

.item3 {
    left: 55%;
    top: 5%;
    height: 175px;
    z-index: 9;
}

.item4 {
    left: 65%;
    z-index: 8;
    top: 8%;
}

