@tailwind base;
@tailwind components;
@tailwind utilities;

.side-menu{
    display: flex;
    flex-direction: column;
    gap:20px;
    padding-left: 3rem;
}
.side-menu > li > a {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1.5rem;  
}
.side-menu > li > a >svg{
    font-size: 2rem;  

}

.side-menu>li:hover{
    background-color: #5D0E41;
    width: 80%;
    border-radius: 0 15px 15px 0;
}

.side-menu >li:hover::before{
    content: "";
    width: 100px;
    height: 2rem;
    position: absolute;
    left:-3rem;
    background-color: #5D0E41;
}
