@tailwind base;
@tailwind components;
@tailwind utilities;

#input-search{
    background-color: transparent;
    padding-left: 5px;
    padding-right: 5px;
    border:none;
    outline-style: none;
    color: white;
}
.icon{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.label{
    align-items: center;
}
ul{
    display: flex;
}
ul > li{
    color: white;
    align-items: center;
}